{% import 'pum://macros/macros.html.twig' as macros %}

{% spaceless %}
<div id="js-notice-{{ notice.id }}" class="timeline-post" data-post-id="{{ notice.id }}" data-href="{{ url('create_form_comment') }}">
    <div class="timeline-post-author">
        <a href="{{ path('profil', {id : hashEncode(notice.targetUser.id)}) }}" class="timeline-author-link">
            {{ macros.show_user_avatar_url(notice.targetUser, 'default', 44, 'author-image') }}
        </a>
    </div>
    <div class="timeline-post-content">
            {% set countShareNotice = relationCount('external_notice', 'shareNotice', notice.id) %}
            {% if countShareNotice %}
                {% set shareNotices = pum_entities('external_share_notice', [{targetNotice: [notice.id]}]) %}
            {% endif %}
            <div class="timeline-content-top">
            {% for shareNotice in shareNotices %}
                {% set originalNotice =  shareNotice.sourceNotice %}
                {{ '%author% a partagé une notice'|trans({
                    '%author%': '<a href="' ~ path('profil', {id : hashEncode(notice.targetUser.id)}) ~'" class="author-profil">' ~ macros.author_fullname(notice.targetUser) ~ '</a>',
                }, 'rpe')|raw }}
            {% endfor %}
            </div>
            <div class="timeline-content-main">
                <p class="post-text">{{ notice.description|striptags('<a>')|detecturls|raw }}</p>

                {% if countShareNotice %}
                    {% for shareNotice in shareNotices %}
                        {% set originalNotice =  shareNotice.sourceNotice %}
                        <div class="timeline-content-main timeline-ressource">
                            <a href="{{ path('notice', {'id': originalNotice.id}) }}" class="link-wrapper">
                                <div class="timeline-ressource-content">
                                    <h4 class="ressource-title">{{ originalNotice.title }}</h4>
                                    <p class="ressource-text notice-array">
                                        {{ originalNotice.description|striptags('<a>')|raw|wordwrap()|nl2br|truncate(100, true)  }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


    </div>

    <div class="timeline-content-links">
        {% include 'pum://includes/common/componants/likes/buttons-array.html.twig' with {
            'type': 'external_notice',
            'object': notice.id,
            'style': 'link'
        } %}

        {% set countComment =  relationCount('external_notice', 'comments', notice.id) %}
        <a href="#js-c-notice-{{ notice.id }}" class="icon-comment" data-target="#js-c-notice-{{ notice.id }}">{{ 'Commenter (%count%)'|transchoice(countComment, {'%count%': countComment}, 'rpe') }}</a>

        <a href="{{ path('notice_share', {'id': notice.id}) }}" class="icon-share" data-toggle="modal" data-target="#modal-share">Partager (<span id="js-s-c-{{ notice.id }}">{{ relationCount('external_notice', 'shareby', notice.id) }}</span>)</a>

        

        {# Delete #}
        {% if user.id == notice.targetUser.id %}
            <!-- here is the delete link problem --> 
            <a href="#" class="icon-trash js-loadmore js-confirm-modal js-infinite" data-remove-div="#js-notice-{{ notice.id }}" data-delete-link="{{ path('delete_notice', {'id': notice.id}) }}" data-confirm="{{ 'common.action.delete.post_confirm'|trans({}, 'rpe')|e('html') }}">{{ 'common.action.delete.post'|trans({}, 'rpe') }}</a>
            <!-- end link -->
        {% endif %}

        {% include 'pum://includes/common/componants/report/buttons.html.twig' with {
            'type': 'external_notice',
            'object': notice,
            'style': 'link'
        } %}

        <a href="#" class="post-time timeago" title="{{ notice.createDate|date('c') }}"></a>
    </div>
    <div class="timeline-comments">
        {% for comment in pum_entities('external_notice_comment', [{notice: [notice.id]}, {parent: [null, 'isNull']}], {id: 'ASC'}) %}
            {% include "pum://includes/common/componants/notices/comment.html.twig" %}
        {% endfor %}
        <div id="js-c-notice-{{ notice.id }}" class="timeline-post-comment">
            {% include 'pum://includes/common/componants/comments/comment-form-raw.html.twig' with {'notice': notice.id, 'post': null} %}
            {# {{ render(path('create_form_comment', {'post': post.id})) }} #}
        </div>
    </div>

    <!-- Comment Form -->
    {# {% include 'pum://includes/common/componants/comment-form.html.twig' %} #}
</div>
{% endspaceless %}