{% extends "pum://page/layout_double_col_right.html.twig" %}
{# {% set publishTypes = {
    'publications': 'ressource',
    'question': 'question'
} %} #}
{% set publishTypes = {
    'publications': 'ressource',
    'question': 'question',
    'event': 'event'
} %}

{% if publishTypeActive is not defined %}
    {% set publishTypeActive = 'publications' %}
{% endif %}

{% set nav_section = 'profile-menu' %}

{% set global_wrapper_class = 'bg-white' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/new_ressources.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/rpepum/css/library.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/rpepum/css/modal-library.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script type="text/javascript">
        var CKEDITOR_BASEPATH = '{{ asset("bundles/rpepum//ckeditor/") }}';
    </script>
    <script src="{{ asset('bundles/rpepum/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.side-componants.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/external/draggable.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.publications.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.ressource.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.library.js') }}"></script>
{% endblock %}

{% block _publish_nav %}
    <!-- Publication Tabs -->
    <!-- The active tab needs to have the class "active" on the <a> & the <span> -->
    {# {% for publishType, publishTypeClass in publishTypes %}
        {% if loop.first %}
            <div class="publications-tab-wrapper">
                <ul>
        {% endif %}
            {% if edit is not defined or publishTypeActive == publishType %}
            <li>
                <a {{ (publishTypeActive != publishType) ? ('href="' ~ path('publish_' ~ publishType) ~ '"')|raw }} class="publication-links publish-{{ publishTypeClass }}{{ (publishTypeActive == publishType) ? ' active' }}">
                    <span class="publication-tab {{ publishTypeClass }}-tab{{ (publishTypeActive == publishType) ? ' active' }}">
                        {{ ('publish.tab.' ~ publishTypeClass)|trans({}, 'rpe') }}
                    </span>
                </a>
            </li>
            {% endif %}
        {% if loop.last %}
                </ul>
            </div>
        {% endif %}
    {% endfor %} #}

    {% if app.request.attributes.get('_route') == "publish_question" %}
        <h2 class="publications-title">{{ "question.top.title"|trans({}, 'rpe') }}</h2>
    {% elseif app.request.attributes.get('_route') == "publish_publications" %}
        <h2 class="publications-title">{{ "publish.top.title"|trans({}, 'rpe') }}</h2>
    {% elseif app.request.attributes.get('_route') == "publish_event" %}
        <h2 class="publications-title">{{ "event.top.title"|trans({}, 'rpe') }}</h2>
    {% endif %}
{% endblock %}