<div class="tip-box">
    <h4 class="title">{{ "tips.using"|trans({}, 'rpe') }}</h4>
    <div class="talk-bubble">
        <div class="arrow"></div>
        <p>
            <span class="bold">{{ "tips.groups_title"|trans({}, 'rpe') }}
        </p>
    </div>
    <img src="{{ asset('bundles/rpepum/images/tmp/image-groupe1.jpg') }}">
    <p>
        {{ "tips.groups_main_one"|trans({}, 'rpe') }}
        <br />
        <br />
        {{ "tips.groups_main_two"|trans({}, 'rpe') }}
    </p>
    <ul>
        <li class="icon-comment">{{ "tips.groups_desc_one"|trans({}, 'rpe') }}</li>
        <li class="icon-comment">{{ "tips.groups_desc_two"|trans({}, 'rpe') }}</li>
        <li class="icon-comment">{{ "tips.groups_desc_three"|trans({}, 'rpe') }}</li>
    </ul>
    <p>
        {{ "tips.groups_main_three"|trans({}, 'rpe') }}
        <br />
        <br />
        {{ "tips.groups_main_four"|trans({}, 'rpe') }}
    </p>
</div>