<div class="tip-box">
    <h4 class="title">{{ "tips.using"|trans({}, 'rpe') }}</h4>
    <div class="talk-bubble">
        <div class="arrow"></div>
        <p>
            {{ "tips.why_title"|trans({}, 'rpe') }}
        </p>
    </div>
    <img src="{{ asset('bundles/rpepum/images/tmp/image-create-perso.jpg') }}">
    <ul>
        <li class="icon-comment">{{ "tips.why_desc_one"|trans({}, 'rpe') }}</li>
        <li class="icon-comment">{{ "tips.why_desc_two"|trans({}, 'rpe') }}</li>
    </ul>
</div>