{% extends "pum://page/publish/publish.html.twig" %}

{% set page_title = (id is defined) ? 'Edition d\'évènement' : 'Création d\'évènement' %}
{% set page_name_analytics = 'event/' ~ ((id is defined) ? 'edit' : 'create') %}

{# {% set agenda_tutorial_enabled = true %} #}

{% block _event_startDate_widget %}
    {# {{dump(form.vars)}} #}
    <div class="input-append date calendar-datetimepicker">
        <input type="text" id="js-event_datetime_start" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" data-date-format="dd/mm/yyyy hh:ii" data-date-constraint-element="#js-event_datetime_end" data-date-constraint-type="start" data-validation="required" data-validation-error-msg="Veuillez choisir la date de début." autocomplete="off" />
        <span class="add-on dark-grey square-btn icon-calendar"></span>
    </div>
{% endblock %}

{% block _event_endDate_widget %}
    <div class="input-append date calendar-datetimepicker">
        <input type="text" id="js-event_datetime_end" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" data-date-format="dd/mm/yyyy hh:ii" data-validation="required" data-validation-error-msg="Veuillez choisir la date de fin." autocomplete="off" />
        <span class="add-on dark-grey square-btn icon-calendar"></span>
    </div>
{% endblock %}

{% block _event_privacy_widget %}
    <select class="select-time" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">
        <option value="public">Publique</option>
        <option value="private">Privée</option>
    </select>
{% endblock %}

{% block _event_placeAddress_widget %}
    <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="input-small" value="{{ form.vars.value }}" />
{% endblock %}

{% block _event_description_widget %}
    <span class="text-box">
        <textarea id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" data-validation="required" data-validation-error-msg="Veuillez décrire votre évènement.">{{ form.vars.value }}</textarea>
    </span>
{% endblock %}

{% block _event_submit_row %}
    <button type="submit" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="action-btn publish-btn orange">{{ "Envoyer"|trans() }}</button>
{% endblock %}

{% block _event_participants_row %}
    {% set full_name = full_name ~ '[]' %}
    {% set force_ajax_url = path('ajax_participants_event') %}
    {% set attr = attr|merge({class: 'participants tm-input extra-info-input', 'data-ttl' : 'false'}) %}
    {% set span_second_widget_class = 'first-tag-list tag-list' %}

    {{ block('rpepum_object_entity_row') }}
{% endblock %}

{% block main_content %}
    {{ block('_publish_nav') }}
    {% form_theme form _self %}

    <!-- Event form -->
    {{ form_errors(form) }}
    {{ form_start(form, { attr : { class : 'ressource-edit-form-wrapper event-form' }}) }}
        <ul class="ressource-edit-wrapper">
            <li>
                <div class="form-left">
                    {{ form_label(form.title) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.title, {'attr': {'data-validation': 'required', 'data-validation-error-msg': 'Veuillez écrire le nom de l\'évènement.'}}) }}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.startDate) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.startDate) }}
                    {# {{ form_widget(form.startDate_time) }} #}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.endDate) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.endDate) }}
                    {# {{ form_widget(form.endDate_time) }} #}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.placeName) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.placeName, {'attr': {'data-validation': 'required', 'data-validation-error-msg': 'Veuillez préciser le lieu.'}}) }}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.placeAddress) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.placeAddress) }}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.description) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.description) }}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.ownerGroup) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.ownerGroup) }}
                </div>
            </li>
            <li>
                <div class="form-left">
                    {{ form_label(form.privacy) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.privacy) }}
                </div>
            </li>

            {% if id is not defined %}
                {{ form_row(form.participants) }}
            {% endif %}
            
            <li>
                <div class="form-left">
                    {{ form_label(form.timezone) }}
                </div><!--
                --><div class="form-right">
                    {{ form_widget(form.timezone) }}
                </div>
            </li>

            {{ form_row(form._token) }}
        </ul>
        {{ form_row(form.submit) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block sidebar %}
    <!-- Tips ! -->
    <!-- These tips are shown on the page where we create a new ressource -->
    <div class="post-ressource-tip">
        <h3 class="tip-title">{{ 'post.event.advice.title'|trans({}, 'rpe') }}</h3>
        <span class="tip-main-text">{{ 'post.event.advice.subtitle'|trans({'%bold%': '<span class="bold">','%/bold%':'</span>'}, 'rpe')|raw }}</span></span>
        <ul class="tip-list-wrapper">
            {% set advices = 'post.event.advice.list'|trans({}, 'rpe')|split('|') %}
            {# <li>Vous êtes sur la première version de cette ressource. Cliquez sur le bouton modifier pour apporter des modifications.</li> #}
            {% for advice in advices %}
                <li>{{ advice }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block tutorial %}
    {% if agenda_tutorial_enabled is defined %}
    <script>
        {% spaceless %}
            var agenda_tutorial_enabled = '{{ agenda_tutorial_enabled }}';
        {% endspaceless %}
    </script>
    <div class="modal fade tutorial-modal agenda-tutorial-modal-1" id="agenda-tutorial-modal-5">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "publishEvent.title1"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ "publishEvent.text1"|trans({}, 'rpe') }}
                </div>
                <div class="modal-footer">
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">Continuer</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}