{% if resources is defined and resources|length > 0 %}
    {% if countPublications is defined %}
        {% set reseourcesLength =  countPublications %}
        {% set case = 'array' %}
    {% else %}
        {% set reseourcesLength =  resources|length %}
        {% set case = 'object' %}
    {% endif %}
    <div class="side-componant grey">
        <div class="padding-wrapper">
            <h3 class="componant-title">{{ "sidebar.ressources"|trans({}, 'rpe') }}
                <span class="title-small">/
                    {% if profil is defined %}
                        <a href="{{ path('ajax_profil_resourcelist', {'id': profil.id}) }}" class="title-link" data-toggle="modal" data-target="#modal-resources">
                            {{ 'sidebar.resources.see'|transchoice(reseourcesLength, {}, 'rpe') }}
                        </a>
                    {% elseif group is defined %}
                        <a href="{{ path('ajax_group_resourcelist', {'id': group.id}) }}" class="going-friends" data-toggle="modal" data-target="#modal-resources">
                            {{ 'sidebar.resources.see'|transchoice(reseourcesLength, {}, 'rpe') }}
                        </a>
                    {% else %}
                        <a href="#">{{ 'sidebar.resources.see'|transchoice(reseourcesLength, {}, 'rpe') }}</a>
                    {% endif %}
                </span>
            </h3>
            <div class="componant-wrapper">
                <ul>
                    {% for resource in resources|slice(0,4) %}
                        {% spaceless %}
                            <li class="ressource-wrapper">
                                <a href="{{ path('publication', {'id': resource.id}) }}">
                                    <div class="ressource-left">
                                        <div class="ressource-size-container"></div>
                                        <div class="ressource-content-container">
                                            {% if case == 'array' %}
                                                {{ macros.show_post_media_url(resource, 'default', 92, 'ressource-image') }}
                                            {% else %}
                                                {{ macros.show_post_media(resource, 'default', 92, 'ressource-image') }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="ressource-right">
                                        <div class="ressource-inner-text">
                                            <h3 class="ressource-title">{{ resource.name|truncate(50, true) }}</h3>
                                            {% set resourceCountCoAuthor = relationCount('post', 'coAuthors', resource.id) %}
                                            {% if resourceCountCoAuthor > 0 %}
                                                <span class="ressource-link">{{ '%count% <span>contributeur</span>|%count% <span>contributeurs</span>'|transchoice(resourceCountCoAuthor, {'%count%': resourceCountCoAuthor}, 'rpe')|raw }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endspaceless %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if group is defined and reseourcesLength > 4 %}
            <a href="{{ path('ajax_group_resourcelist', {'id': group.id}) }}" class="componant-link" data-toggle="modal" data-target="#modal-resources">&gt; {{ 'sidebar.resources.see'|transchoice(reseourcesLength, {}, 'rpe') }}</a>
        {% elseif profil is defined and reseourcesLength > 4 %}
            <a href="{{ path('ajax_profil_resourcelist', {'id': profil.id}) }}" class="componant-link" data-toggle="modal" data-target="#modal-resources">&gt; {{ 'sidebar.resources.see'|transchoice(reseourcesLength, {}, 'rpe') }}</a>
        {% endif %}
    </div>
{% endif %}
