<!--        *******       -->
<!-- Groupe themes  -->
<!--        *******       -->
{% set groupModule = 'group-theme' %}
<div class="module-wrapper {{ groupModule }} {% if group.isModuleEnabled(groupModule) %}enabled{% else %}disabled{% endif %}" data-module="{{ groupModule }}">
    <div class="module-top">
        <img src="{{ asset('bundles/rpepum/images/module_sondage.png') }}" class="module-image">
        <h3 class="module-title">{{ ("groupPage.module."~groupModule)|trans({}, 'rpe') }}</h3>
    </div>
    <p class="module-text">
        {{ ("groupPage.module."~groupModule~".description")|trans({}, 'rpe') }}<br/>
    </p>
    <div class="module-bottom">
        {% include 'pum://includes/common/componants/groups/admin_modules_button-activation.html.twig' with {
            'group': group,
            'groupModule': groupModule
        } %}

        <a href="{{ path('group-theme', {'id': group.id}) }}" class="action-btn light-blue icon-cog">{{ "common.module.parameters"|trans({}, 'rpe') }}</a>
    </div>

    <!-- This is the div that opens on module-config.click -->
    <div class="module-content">

        <!-- *************** -->
        <!-- POSITION CHANGE -->
        <!-- *************** -->
        <div class="vote-content blue change-position">
            <div class="position-wrapper">
                <form>
                    <div class="form-left">
                        <label for="module-position">{{ "common.module.position"|trans({}, 'rpe') }} :</label>
                    </div>
                    <div class="form-right">
                        {% include 'pum://includes/common/componants/groups/admin_modules_select-position.html.twig' with {
                            'group': group,
                            'groupModule': groupModule
                        } %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>