{% extends "pum://empty_layout.html.twig" %}

{% block main_content %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="modal-label-relations">Relations en commun avec {{ user.fullname }}</h4>
	</div>
	<div class="modal-body">
		{% for friend in commonRelations %}
	        <a href="{{ path('profil', {'id' : hashEncode(friend.friend.id)}) }}">
	            {{ macros.show_user_avatar(friend.friend, 'avatar', 90) }}

	            <div class="profil-name">
	                <span>{{ friend.friend.firstname }}</span>
	                <span class="last-name">{{ friend.friend.lastname }}</span>
	            </div>
	        </a>
		{% endfor %}
	</div>
	<div class="modal-footer">
		<a role="button" data-dismiss="modal" class="action-btn light-blue">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
	</div>
{% endblock main_content %}
