{% extends "pum://page/layout.html.twig" %}

{% set page_title = 'Accueil' %}
{% set page_name_analytics = 'user/homepage' %}
{% set nav_section = 'home' %}

{% set global_wrapper_class = 'home' %}

{# {% set main_tutorial = true %} #}
{# {% set tutorial_menu_profil_enabled = true %} #}
{# {% set tutorial_menu_content_enabled = true %} #}
{# {% set tutorial_menu_group_enabled = true %} #}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/index.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_javascript %}
    {% if pum_var('dashboard_active') %}
        <script src="{{ asset('bundles/rpepum/js/rpe.home_filter.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/rpepum/js/rpe.boxs-loading.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.index.js') }}"></script>
    {% if tutorial_enabled is defined %}
    <script>
        {% spaceless %}
            var user_tutorial_enabled = '{{ tutorial_enabled }}',
                user_menu_tutorial    = '{{ tutorial_enabled }}';
        {% endspaceless %}


        $(document).ready(function ($) {
            $('#grid').trigger('js_autoload_xhr_success');
        });
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        {% embed "pum://includes/common/componants/filter.twig" %}
        {% block title %}
            <a href="{{ path('home') }}" class="filter-title active" id="filter_home">{{ "homepage.logged.widgets.title"|trans({}, 'rpe') }}</a>
            {% if pum_var('dashboard_active') %} / <a href="{{ path('dashboard') }}" class="filter-title" id="filter_dashboard">{{ "dashboard.title"|trans({}, 'rpe') }}</a>{% endif %}
        {% endblock %}
        {% block filter %}
            <div class="filter-right">
                <ul class="filter-right-wrapper">
                    <li class="filter-link">
                        <span id="big" class="picto-big"></span>
                        <span id="small" class="picto-small opac"></span>
                    </li>
                </ul>
            </div>
        {% endblock %}
        {% endembed %}
        {{ macros.alertMessages() }}
        <div data-autoload="content" data-href="#1"></div>
        <!-- ********************* -->
        <!-- Here goes the content -->
        <!-- ********************* -->
        <!-- 2 card layouts (second one for app cards) -->
        <section class="content full">
            <ul class="list-general-box grid effect-2 {# js-autoload #}" id="grid" data-autoload="{{ path('ajax_homelist') }}" data-async="false">
                {# {{ macros.loader() }} #}
                {% if mode == 'array' %}
                    {% include 'pum://page/user/ajax-homepostslist-array.html.twig' with {'posts': posts, 'user': user} %}
                {% else %}
                    {% include 'pum://page/user/ajax-homepostslist.html.twig' with {'posts': posts, 'user': user} %}
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}

{% block sub_footer %}
    <div class="sub-footer" data-autoload="{{ path('ajax_footersuggestions') }}" data-delay="3500">
        {% include 'pum://includes/common/footer/sub_footer.html.twig' %}
        {# {{ macros.loader() }} #}
    </div>
{% endblock %}

{% block modals %}
    {% include 'pum://includes/common/componants/modals/modal-compatability.html.twig' %}
{% endblock %}
{% block tutorial %}
{% spaceless %}
    {% if main_tutorial is defined %}
        <script>
            {% spaceless %}
                var main_tutorial = '{{ main_tutorial }}';
            {% endspaceless %}
        </script>
        <!-- Profil Menu Tutorial -->
        <div class="modal fade tutorial-modal main-tutorial-1" id="main-tutorial-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "mainTutorial.title1"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "mainTutorial.text1"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.passVisit"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#main-tutorial-2" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.follow"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal main-tutorial-2" id="main-tutorial-2">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "mainTutorial.title2"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "mainTutorial.text2"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#main-tutorial-1" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#main-tutorial-3" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal main-tutorial-3" id="main-tutorial-3">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "mainTutorial.title3"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "mainTutorial.text3"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#main-tutorial-2" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#main-tutorial-4" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal main-tutorial-4" id="main-tutorial-4">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "mainTutorial.title4"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "mainTutorial.text4"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if tutorial_menu_profil_enabled is defined %}
        <script>
            {% spaceless %}
                var tutorial_menu_profil_enabled = '{{ tutorial_menu_profil_enabled }}';
            {% endspaceless %}
        </script>
        <!-- Profil Menu Tutorial -->
        <div class="modal fade tutorial-modal menu-profil-tutorial-modal-1" id="menu-profil-tutorial-modal-1">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "profilMenu.title1"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "profilMenu.text1"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-profil-tutorial-modal-2" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-profil-tutorial-modal-2" id="menu-profil-tutorial-modal-2">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "profilMenu.title2"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "profilMenu.text2"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#menu-profil-tutorial-modal-1" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-profil-tutorial-modal-3" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-profil-tutorial-modal-3" id="menu-profil-tutorial-modal-3">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "profilMenu.title3"|trans({}, 'rpe') }})</h4>
                    </div>
                    <div class="modal-body">
                        {{ "profilMenu.text3"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#menu-profil-tutorial-modal-2" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if tutorial_menu_content_enabled is defined %}
        <script>
            {% spaceless %}
                var tutorial_menu_content_enabled = '{{ tutorial_menu_content_enabled }}';
            {% endspaceless %}
        </script>
        <!-- Content Menu Tutorial -->
        <div class="modal fade tutorial-modal menu-content-tutorial-modal-1" id="menu-content-tutorial-modal-1">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "contentMenu.title1"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "contentMenu.text1"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-content-tutorial-modal-2" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-content-tutorial-modal-2" id="menu-content-tutorial-modal-2">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "contentMenu.title2"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "contentMenu.text2"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#menu-content-tutorial-modal-1" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-content-tutorial-modal-3" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-content-tutorial-modal-3" id="menu-content-tutorial-modal-3">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "contentMenu.title3"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "contentMenu.text3"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#menu-content-tutorial-modal-2" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-content-tutorial-modal-4" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-content-tutorial-modal-4" id="menu-content-tutorial-modal-4">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "contentMenu.title4"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "contentMenu.text4"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a aria-hidden="true" href="#menu-content-tutorial-modal-3" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if tutorial_menu_group_enabled is defined %}
        <script>
            {% spaceless %}
                var tutorial_menu_group_enabled = '{{ tutorial_menu_group_enabled }}';
            {% endspaceless %}
        </script>
        <!-- Menu Groups -->
        <div class="modal fade tutorial-modal menu-group-tutorial-modal-1" id="menu-group-tutorial-modal-1">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "menuGroupTutorial.title1"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "menuGroupTutorial.text1"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-group-tutorial-modal-2" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade tutorial-modal menu-group-tutorial-modal-2" id="menu-group-tutorial-modal-2">
            <div class="tutorial-arrow">▲</div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ "menuGroupTutorial.title2"|trans({}, 'rpe') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ "menuGroupTutorial.text2"|trans({}, 'rpe') }}
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                        <a role="button" href="#menu-group-tutorial-modal-1" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                        <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}