<li class="module-card">
    <div class="module-card-header">
        {% set transkey = "dashboard." ~ widget.type %}
        <h3 class="module-card-title">{{ transkey|trans({}, 'rpe') }}</h3>
    </div>
    <div class="module-card-content">
        {% set nbItems, classSmaller = 3, '' %}
        {% if nbItems > 3 %}
            {% set classSmaller = 'smaller' %}
        {% endif %}
        {% set items = user.bookmarkBlogsBy({}, {date: 'desc'}, nbItems) %}
        {% if items|length %}
            <ul class="module-card-data-wrapper {{ classSmaller }}">
                {% for bookmarkBlog in items %}
                    <li class="module-card-data">
                        <a class="module-card-data-image-link" href="{{ path('blog', {'id': bookmarkBlog.getBlog().id}) }}">
                            {{ macros.show_image(bookmarkBlog.blog.cover, 85, 'module-card-data-image') }}
                        </a>
                        <div class="module-card-inner-data">
                            <h4 class="module-card-title">
                                <a href="{{ path('blog', {'id': bookmarkBlog.getBlog().id}) }}">{{ bookmarkBlog.blog.name }}</a>
                            </h4>
                            <span class="module-card-text">{{ bookmarkBlog.blog.description|truncate(80, true) }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="module-card-empty">
                {% set transkey = "dashboard." ~ widget.type ~ ".empty" %}{{ transkey|trans({}, 'rpe') }}
            </span>
        {% endif %}
    </div>
    <div class="module-card-footer">
        {% if items|length %}
            <a href="{{ path('blogs', {'mode': 'followed'}) }}" class="module-card-link">{{ "dashboard.blogs_bookmark.link"|trans({}, 'rpe') }}</a>
        {% endif %}
    </div>
</li>