<li class="module-card">
    <div class="module-card-header">
        <h3 class="module-card-title">{{ widget.name }}</h3>
    </div>
    <div class="module-card-content">
        <ul class="module-card-data-wrapper js-autoload" data-autoload="{{ path('dashboard-rss-parser', {id: widget.id}) }}">{# add "smaller" class to this ul to add a 4th element #}
            <span class="loader"></span>
        </ul>
    </div>
    <div class="module-card-footer">
        {% set host = widget.content|hostFromUrl %}
        <a href="http://{{ host }}" class="module-card-link">{{ "dashboard.rss.link"|trans({}, 'rpe') }} {{ host }}</a>
    </div>
</li>