<div class="wrapper" style="width:530px; margin:0 auto; font-family: arial, sans-serif;">
    <!-- ========= -->
    <!-- SMALL TOP -->
    <!-- ========= -->
    <!-- <table border="0" cellpadding="0" cellspacing="0">
        <tr height="50" style="height:50px;">
            <td width="530" style="background-color:#fff; color:#000; height: 50px; width:530px; text-align:center; font-size:11px;">
                Si cet email ne s'affiche pas correctement, <a href="#" style="color:#259aae; text-decoration:none;">accédez à sa version en ligne.</a>
            </td>
        </tr>
    </table> -->
    <!-- ====== -->
    <!-- HEADER -->
    <!-- ====== -->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr height="80" style="height:80px; background-color:#1d2129;">
            <td width="530" style="width:530px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr height="24" style="height:24px;">
                        <td width="530" style="width:530px;"></td>
                    </tr>
                    <tr height="32" style="height:32px;">
                        <td width="530" style="width:530px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr height="32" style="height:32px;">
                                    <td width="20" style="width:20px">
                                        <!-- padding -->
                                    </td>
                                    <td width="154" style="width:154px;">
                                        <!-- LOGO -->
                                        <a href="#">
                                            <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/01-logo.jpg') }}" style="display:block; border:none;" />
                                        </a>
                                    </td>
                                    <td width="234" style="width:234px">
                                        <!-- whitespace -->
                                    </td>
                                    <td width="70" style="width:70px; text-align: left;">
                                        <!-- LINK -->
                                        <a href="#" style="color:#259aae; text-decoration:none; font-size:12px;">
                                            Mon profil
                                        </a>
                                    </td>
                                    <td width="32" style="width:32px">
                                        <!-- PROFIL PIC -->
                                        <a href="#">
                                            <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/02-profil-pic.jpg') }}" style="display:block; border:none; width:32px; height:32px;" />
                                        </a>
                                    </td>
                                    <td width="20" style="width:20px">
                                        <!-- padding -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="24" style="height:24px;">
                        <td width="530" style="width:530px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- ===== -->
    <!-- TITLE -->
    <!-- ===== -->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr height="80" style="height:80px;">
            <td width="530" style="width:530px; background-color:#374860;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr height="20" style="height:20px;">
                        <td width="530" style="width:530px;"></td>
                    </tr>
                    <tr height="40" style="height:40px;">
                        <td width="530" style="width:530px;">
                            <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/03-title-new_content.jpg') }}">
                        </td>
                    </tr>
                    <tr height="20" style="height:20px;">
                        <td width="530" style="width:530px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- ======= -->
    <!-- CONTENT -->
    <!-- ======= -->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr style="background:#374860;">
            <td width="2" style="width:2px;"></td>
            <td width="526" style="width:526px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <!-- box -->
                    <tr>
                        <td width="526" style="width:526px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr height="84" style="height:84px; background-color:#fff;">
                                    <td width="526" style="width:526px;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="64" style="height:64px;">
                                                <td width="10" style="width:10px;"></td>
                                                <td width="506" style="width:506px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr height="64" style="height:64px;">
                                                            <td width="64" style="width:64px;">
                                                                <!-- GROUP IMAGE -->
                                                                <a href="#"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/04-group_example.jpg') }}" style="display:block; border:none;"></a>
                                                            </td>
                                                            <td width="10" style="width:10px;"></td>
                                                            <td width="200" style="width:200px; font-family:Verdana,sans-serif;">
                                                                <!-- GROUP TITLE -->
                                                                <a href="#" style="font-size:10px; color:#717880; text-decoration:none; display:block; float:left; clear:both;">/Groupe public</a>
                                                                <a href="#" style="font-size:12px; color:#24445d; text-decoration:none; display:block; float:left; clear:both;">Professeurs lycée gainsbourg
                                                                et lycée Jules Foin</a>
                                                            </td>
                                                            <td width="166" style="width:166px;"></td>
                                                            <td width="1" style="width:1px; background-color:#ededed"></td>
                                                            <td width="10" style="width:10px"></td>
                                                            <td width="100" style="width:100px; font-family:Verdana,sans-serif;">
                                                                <!-- ICONS & INFO -->
                                                                <a href="#" style="font-size:10px; color:#58585a; text-decoration:none;">
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-member-grey.png') }}" style="height:10px;"> 130 membres
                                                                </a>
                                                                <a href="#" style="font-size:10px; color:#58585a; text-decoration:none;">
                                                                    <img src="img/icon-ressource-grey.png" style="height:10px;"> 5 ressources
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="10" style="width:10px;"></td>
                                            </tr>
                                            <tr height="10" style="height:10px;">
                                                <td width="10" style="width:10px;"></td>
                                                <td width="506" style="width:506px;">
                                                </td>
                                                <td width="10" style="width:10px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="70" style="height:70px; background-color:#ededed;">
                                    <td width="526" style="width:526px;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="50" style="height:50px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr height="7" style="height:7px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                        <tr height="10" style="height:10px;">
                                                            <!-- titles -->
                                                            <td width="145" style="width:145px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- first -->
                                                                Nouvelles ressources
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- second -->
                                                                Nouveaux messages
                                                            </td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- third -->
                                                                Nouveaux partages
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- fourth -->
                                                                Nouveaux membres
                                                            </td>
                                                        </tr>
                                                        <tr height="5" style="height:5px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                        <tr height="21" style="height:21px;">
                                                            <!-- links -->
                                                            <td width="145" style="width:145px;">
                                                                <!-- first -->
                                                                <a href="#" style="display:inline-block; height:12px; padding:4px; background-color:#d03838; text-decoration:none; color:#fff; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+3</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-ressource-white.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;">
                                                                <!-- second -->
                                                                <a href="#" style="display:inline-block; height:12px; padding:4px; background-color:#d03838; text-decoration:none; color:#fff; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+37</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-message-white.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;">
                                                                <!-- third -->
                                                                <a href="#" style="display:inline-block; height:12px; padding:4px; background-color:#d03838; text-decoration:none; color:#fff; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+3</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-share-white.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;">
                                                                <!-- fourth -->
                                                                <a href="#" style="display:inline-block; height:12px; padding:4px; background-color:#d03838; text-decoration:none; color:#fff; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+108</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-member-white.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr height="7" style="height:7px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="2" style="height:2px">
                        <td width="526" style="width:526px;"></td>
                    </tr>
                    <tr>
                        <td width="526" style="width:526px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr height="84" style="height:84px; background-color:#fff;">
                                    <td width="526" style="width:526px;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="64" style="height:64px;">
                                                <td width="10" style="width:10px;"></td>
                                                <td width="506" style="width:506px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr height="64" style="height:64px;">
                                                            <td width="64" style="width:64px;">
                                                                <!-- GROUP IMAGE -->
                                                                <a href="#"><img src="img/04-group_example.jpg" style="display:block; border:none;"></a>
                                                            </td>
                                                            <td width="10" style="width:10px;"></td>
                                                            <td width="200" style="width:200px; font-family:Verdana,sans-serif;">
                                                                <!-- GROUP TITLE -->
                                                                <a href="#" style="font-size:10px; color:#717880; text-decoration:none; display:block; float:left; clear:both;">/Groupe public</a>
                                                                <a href="#" style="font-size:12px; color:#24445d; text-decoration:none; display:block; float:left; clear:both;">Professeurs lycée gainsbourg
                                                                et lycée Jules Foin</a>
                                                            </td>
                                                            <td width="166" style="width:166px;"></td>
                                                            <td width="1" style="width:1px; background-color:#ededed"></td>
                                                            <td width="10" style="width:10px"></td>
                                                            <td width="100" style="width:100px; font-family:Verdana,sans-serif;">
                                                                <!-- ICONS & INFO -->
                                                                <a href="#" style="font-size:10px; color:#58585a; text-decoration:none;">
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-member-grey.png') }}" style="height:10px;"> 130 membres
                                                                </a>
                                                                <a href="#" style="font-size:10px; color:#58585a; text-decoration:none;">
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-ressource-grey.png') }}" style="height:10px;"> 5 ressources
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="10" style="width:10px;"></td>
                                            </tr>
                                            <tr height="10" style="height:10px;">
                                                <td width="10" style="width:10px;"></td>
                                                <td width="506" style="width:506px;">
                                                </td>
                                                <td width="10" style="width:10px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="70" style="height:70px; background-color:#ededed;">
                                    <td width="526" style="width:526px;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="50" style="height:50px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr height="7" style="height:7px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                        <tr height="10" style="height:10px;">
                                                            <!-- titles -->
                                                            <td width="145" style="width:145px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- first -->
                                                                Nouvelles ressources
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- second -->
                                                                Nouveaux messages
                                                            </td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- third -->
                                                                Nouveaux partages
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px; font-family:Verdana,sans-serif; font-size:10px; color:#58585a;">
                                                                <!-- fourth -->
                                                                Nouveaux membres
                                                            </td>
                                                        </tr>
                                                        <tr height="5" style="height:5px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                        <tr height="21" style="height:21px;">
                                                            <!-- links -->
                                                            <td width="145" style="width:145px;">
                                                                <!-- first -->
                                                                <a href="#" style="display:inline-block; height:12px; text-decoration:none; color:#94a1ab; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+0</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-ressource-blue.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;">
                                                                <!-- second -->
                                                                <a href="#" style="display:inline-block; height:12px; text-decoration:none; color:#94a1ab; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+0</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-message-blue.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;">
                                                                <!-- third -->
                                                                <a href="#" style="display:inline-block; height:12px; text-decoration:none; color:#94a1ab; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+0</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-share-blue.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;">
                                                                <!-- fourth -->
                                                                <a href="#" style="display:inline-block; height:12px; text-decoration:none; color:#94a1ab; font-family:Verdana,sans-serif; font-size:11px; line-height:12px;">
                                                                    <span style="display:block; float:left; margin:0 3px 0 0">+0</span>
                                                                    <img src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/rpepum/images/email/icon-member-blue.png') }}" style="float:right; height:12px;">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr height="7" style="height:7px;">
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="145" style="width:145px;"></td>
                                                            <td width="1" style="width:1px;"></td>
                                                            <td width="135" style="width:135px;"></td>
                                                            <td width="2" style="width:2px;"></td>
                                                            <td width="130" style="width:130px;"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                            <tr height="10" style="height:10px;">
                                                <td width="20" style="width:20px;"></td>
                                                <td width="506" style="width:506px;"></td>
                                                <td width="20" style="width:20px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- box -->
                </table>
            </td>
            <td width="2" style="width:2px;"></td>
        </tr>
        <tr height="2" style="height:2px; background:#374860;">
            <td width="2" style="width:2px;"></td>
            <td width="526" style="width:526px;"></td>
            <td width="2" style="width:2px;"></td>
        </tr>
    </table>
    <!-- ====== -->
    <!-- FOOTER -->
    <!-- ====== -->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr heigh="50" style="height:50px;">
            <td width="530" style="width:530px; background-color:#1c2027;"></td>
        </tr>
    </table>
    <!-- ===== -->
    <!-- LEGAL -->
    <!-- ===== -->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr height="100" style="height:100px;">
            <td width="530" style="width:530px; font-family:arial, sans-serif; font-size:11px; color:#000; text-align:center;">
                <a href="#" style="color:#259aae; text-decoration:none; font-weight:bold;">Vous avez oublié votre mot de passe ?</a><br />
                {{ "common.mails.footer.gerermail"|trans({}, 'rpe') }} <a href="{{ app.request.schemeAndHttpHost ~ path('my_notifications') }}" style="color:#259aae; text-decoration:none;">{{ "common.mails.footer.parametrecompte"|trans({}, 'rpe') }}</a>.<br/>
                {{ "common.mails.footer.legal"|trans({}, 'rpe') }} <a href="{{ app.request.schemeAndHttpHost ~ path('my_notifications') }}" style="color:#259aae; text-decoration:none;">{{ "common.mails.footer.mesnotifications"|trans({}, 'rpe') }}</a>.
            </td>
        </tr>
    </table>
</div>