{% extends "pum://page/layout_double_col.html.twig" %}
{% set q = app.request.get('q', null) %}
{% set page_title = (q is not empty) ? '"' ~ q|e ~ '" - Recherche' : 'Recherche' %}
{% set page_name_analytics = 'search/results/' ~ search_type %}

{% set global_wrapper_class = 'bg-white' %}

{# {% set search_tutorial_modal = true %} #}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/favorite-search.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/rpepum/css/search-results.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('bundles/rpepum/js/rpe.search-results.js') }}"></script>
{% endblock %}

{% block modals %}
    {% include 'pum://includes/common/componants/modals/modal-confirm.html.twig' %}
{% endblock %}

{% spaceless %}
    {% block sidebar %}
        <div class="search-filter-box">
            <div class="search-filter-title">
                <a href="#" class="search-filter-toggle icon-arrow-down7">{{ "searchResults.title.filter"|trans({}, 'rpe') }}</a>
            </div>
            <div class="search-filter-links">
                {% for key, value in app.request.query.all %}
                    {% if app.request.query.get(key) == '' %}
                        {{ app.request.query.set(key, null) }}
                    {% endif %}
                {% endfor %}

                {% set _queries = {
                    q: app.request.query.get('q'),
                    q_all: app.request.query.get('q_all'),
                    q_expr: app.request.query.get('q_expr'),
                    q_one: app.request.query.get('q_one'),
                    q_exclude: app.request.query.get('q_exclude')}
                %}

                {% set rpe_account_menus = {} %}
                {% if pum_var('active_global_search') %}
                    {% set rpe_account_menus = rpe_account_menus|merge({
                        'global': {
                            'title': 'searchResults.global'|transchoice(global_count, {}, 'rpe'),
                            'href' : path(path_name, _queries|merge({type: 'global'})),
                            'count' : global_count
                        }})
                    %}
                {% endif %}
                {% set rpe_account_menus = rpe_account_menus|merge({
                    'post': {
                        'title': 'searchResults.post'|transchoice(post_count, {}, 'rpe'),
                        'href' : path(path_name, _queries|merge({type: 'post'})),
                        'count' : post_count
                    },
                    'group': {
                        'title': 'searchResults.group'|transchoice(group_count, {}, 'rpe'),
                        'href' : path(path_name, _queries|merge({type: 'group'})),
                        'count' : group_count
                    },
                    'user': {
                        'title': 'searchResults.user'|transchoice(user_count, {}, 'rpe'),
                        'href' : path(path_name, _queries|merge({type: 'user'})),
                        'count' : user_count
                    },
                    'question': {
                        'title': 'searchResults.question'|transchoice(question_count, {}, 'rpe'),
                        'href' : path(path_name, _queries|merge({type: 'question'})),
                        'count' : question_count
                    },
                    'blog': {
                        'title': 'searchResults.blog'|transchoice(blog_count, {}, 'rpe'),
                        'href' : path(path_name, _queries|merge({type: 'blog'})),
                        'count' : blog_count
                    }
                }) %}
                
                {% set search_type = search_type|default('post') %}
                {% for key, menu in rpe_account_menus %}
                    {% if key != search_type %}
                        <a href="{{ menu.href }}" class="side-search-menu-link"><span>{{ menu.count }}</span> {{ menu.title }}</a>
                    {% else %}
                        <a href="#" class="side-search-menu-link active"><span>{{ result.total }}</span> {{ menu.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if (pum_var('active_beebac') or pum_var('active_canope') or pum_var('active_belin')) and has_extern %}
            <div class="search-filter-box">
                <div class="search-filter-title">
                    <a href="#" class="search-filter-toggle icon-arrow-down7">{{ "searchResults.notice.facet"|trans({}, 'rpe') }}</a>
                </div>
                <div class="search-filter-links">
                    {% set rpe_account_menus = {} %}
                    {% if pum_var('active_canope') %}
                        {% set rpe_account_menus = rpe_account_menus|merge({
                            'noticia': {
                                'title': 'searchResults.noticia'|transchoice(notice_count, {}, 'rpe'),
                                'href' : path(path_name, _queries|merge({type: 'notice', source: ['noticia']})),
                                'count' : noticia_count
                            }
                        }) %}
                    {% endif %}
                    {% if pum_var('active_beebac') %}
                        {% set rpe_account_menus = rpe_account_menus|merge({
                            'beebac': {
                                'title': 'searchResults.beebac'|transchoice(notice_count, {}, 'rpe'),
                                'href' : path(path_name, _queries|merge({type: 'notice', source: ['beebac']})),
                                'count' : beebac_count
                            }
                        }) %}
                    {% endif %}
                    {% for key, menu in rpe_account_menus %}
                        {% if key != search_type %}
                            {% if key == noticeSource %}
                                <a href="#" class="side-search-menu-link active"><span>{{ menu.count }}</span> {{ menu.title }}</a>
                            {% else %}
                                <a href="{{ menu.href }}" class="side-search-menu-link"><span>{{ menu.count }}</span> {{ menu.title }}</a>
                            {% endif %}
                        {% else %}
                            <a href="#" class="side-search-menu-link active"><span>{{ result.total|default('') }}</span> {{ menu.title }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if pum_var('active_belin') %}
                        {% set belin_count_href = (search_type == "belin") ? "#" : path('search', _queries|merge({type: 'belin'}))  %}
                        {% set belin_count_active = (search_type == "belin") ? "active" : "" %}            
                        <a href="{{ belin_count_href }}" class="side-search-menu-link {{ belin_count_active }}" id="menu_belin_count">
                            <span style="display: none" class="js-autoload" id="belin_count_filter" data-autoload="{{ path('search_belin_count', app.request.query.all) }}"></span> {{ 'searchResults.belin'|trans({}, 'rpe') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if result is not null %}
            {% if search_type != "belin" %}
                <div class="search-filter-box">
                    {% include "pum://page/search/facets/facets.html.twig"  with {'facets': result.facets } %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
    
    {% block main_content %}
         {% include "pum://page/search/type/" ~ search_type ~ ".html.twig" %}
         {{ macros.modal('savesearch') }}
    {% endblock %}
{% endspaceless %}

{% block tutorial %}
    {% if search_tutorial_modal is defined %}
    <script>
        {% spaceless %}
            var search_tutorial_modal = '{{ search_tutorial_modal }}';
        {% endspaceless %}
    </script>
    <div class="modal fade tutorial-modal search-tutorial-modal-1" id="search-tutorial-modal-1">
        <div class="tutorial-arrow">▲</div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "searchTutorial.title1"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ "searchTutorial.text1"|trans({}, 'rpe') }}
                </div>
                <div class="modal-footer">
                    <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                    <a role="button" href="#search-tutorial-modal-2" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade tutorial-modal search-tutorial-modal-2" id="search-tutorial-modal-2">
        <div class="tutorial-arrow">▲</div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "searchTutorial.title2"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ "searchTutorial.text2"|trans({}, 'rpe') }}
                </div>
                <div class="modal-footer">
                    <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                    <a role="button" href="#search-tutorial-modal-1" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                    <a role="button" href="#search-tutorial-modal-3" data-toggle="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade tutorial-modal search-tutorial-modal-3" id="search-tutorial-modal-3">
        <div class="tutorial-arrow">▲</div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "searchTutorial.title3"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ "searchTutorial.text3"|trans({}, 'rpe') }}
                </div>
                <div class="modal-footer">
                    <a aria-hidden="true" data-dismiss="modal" class="action-btn light-grey tutorial-modal-close">{{ "tutorial.close"|trans({}, 'rpe') }}</a>
                    <a role="button" href="#search-tutorial-modal-2" data-toggle="modal" class="action-btn light-grey tutorial-modal-prev">{{ "tutorial.prev"|trans({}, 'rpe') }}</a>
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}