{% extends "pum://page/layout_double_col.html.twig" %}

{% set page_title = (blog.name is defined) ? blog.name : 'Page du blog' %}
{% set page_name_analytics = 'blog/view' %}
{% set nav_section = 'profile-menu' %}

{% set global_wrapper_class = 'bg-white' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/group-administration.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/rpepum/css/editor-page.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script src="{{ asset('bundles/rpepum/js/external/jquery.cropbox.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.side-componants.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.group.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.publications.js') }}"></script>
{% endblock %}

{% block modals %}
    {% include 'pum://includes/common/componants/modals/modal-confirm.html.twig' %}
{% endblock %}

{% spaceless %}

{% block breadcrumb %}
    {% embed "pum://includes/common/componants/breadcrumb.html.twig" %}
        {% block this_page %}
            Blog de {{ owner.fullname }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block cover %}
    {% embed "pum://includes/common/componants/cover-layout.html.twig" %}
        {% block cover_left_image %}
            {{ macros.show_user_avatar(owner, 'default', 120, 'profile-image crop-box', '117', '117') }}
        {% endblock %}

        {% block cover_left_information %}
            <h3 class="profil-title editor-title">{{ blog.name }}</h3>
            {# <h3 class="profil-last-name">{{ blog.name }}</h3> #}
            <span class="profil-class grey">Blog de {{ owner.fullname }}</span>
        {% endblock %}

        {% block cover_left_extra_information %}
            <p class="description">
                {% if blog.description|length > 200 %}
                    {{ blog.description|slice(0, 200)|raw }}<a href="#" data-toggle="modal" data-target="#blog-desc-modal" >... Lire la suite</a>
                {% else %}
                    {{ blog.description|raw }}
                {% endif %}
            </p>
        {% endblock %}
        {% block cover_left_buttons %}
            {# Il faut mettre les boutons : envoyer un message, s'abonner #}
            {% if abonnerButton == true %}
                {% include 'pum://includes/common/componants/bookmark/buttons.html.twig' with {
                    'type': 'blog',
                    'object': blog,
                    'style': 'link'
                } %}
            {% endif %}
            <small class="messages icon-newspaper">{{ blog.resources.count }}</small>
        {% endblock %}

        {% block cover_right %}
            {% if isOwner == true and form_cover is not null %}
                {{ form_errors(form_cover) }}
                {{ form_start(form_cover, {attr: {class: 'edit-profil-image cover'}}) }}
                    {{ macros.show_blog_avatar(blog, 'cover', 837, 'cover-image crop-box', '837', '300', '0', '0') }}
                    <input type="file" class="profil-image-input hidden-input" name="cover[cover][file]">
                    <a href="#" class="action-btn light-blue edit-profil-link">Changer d'image</a>
                    <div class="results">
                        {{ form_row(form_cover.x, {attr: {class: 'cropX'}}) }}
                        {{ form_row(form_cover.y, {attr: {class: 'cropY'}}) }}
                        {{ form_row(form_cover.w, {attr: {class: 'cropW'}}) }}
                        {{ form_row(form_cover.h, {attr: {class: 'cropH'}}) }}
                        {{ form_row(form_cover._token) }}
                    </div>
                    <a href="#" class="action-btn orange confirm-profil-image-change">Confirmer</a>
                {{ form_end(form_cover, {render_rest: false}) }}
            {% else %}
                {{ macros.show_blog_avatar(blog, 'cover', 837, 'cover-image crop-box', '837', '300', '0', '0') }}
            {% endif %}
        {% endblock cover_right %}
    {% endembed %}
{% endblock %}

{# FORM THEME #}
{% block _post_content_row %}
    <label class="hidden" for="simple-message">Simple Message</label>
    <span class="text-box">
        <textarea {{ block('widget_attributes') }} required data-link-ajax="{{ path('link_preview') }}" class="linkpreview expanding simple-message-input"></textarea>
    </span>
{% endblock %}

{% block _post_file_row %}
    <div class="extra-message-info">
        <div class="message-add-image">
            <ul class="uploaded-files-wrapper text-light">
                {% for subform in form %}
                    {% for subsubform in subform %}
                        <li class="uploaded-element">
                            {% for subsubsubform in subsubform %}
                                {{ form_widget(subsubsubform, {required:false, attr: {'style': 'display:none'}}) }}
                            {% endfor %}
                            <span class="new-file">{{ subsubform.vars.value.getName() }}</span>
                            <a href="#" class="remove-upload">x</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <span class="action-btn btn-file orange icon-paperclip post-file-btn">
                {{ form_widget(form.file, {'attr' : {'class': 'rpe-upload single-upload show-it'}}) }}
            </span>
            {{ block('valider_widget') }}
        </div>
    </div>
{% endblock %}

{% block _post_file_file_row %}
    <input type="file" class="input-upload" {{ block('widget_attributes') }}>
{% endblock %}


{% block _blog_content_row %}
    <label class="hidden" for="simple-message">Simple Message</label>
    <span class="text-box">
        <textarea {{ block('widget_attributes') }} required class="simple-message-input"></textarea>
    </span>
{% endblock %}

{% block _blog_file_row %}
    <div class="extra-message-info">
        <div class="message-add-image">
            <ul class="uploaded-files-wrapper text-light">
                {% for subform in form %}
                    {% for subsubform in subform %}
                        <li class="uploaded-element">
                            {% for subsubsubform in subsubform %}
                                {{ form_widget(subsubsubform, {required:false, attr: {'style': 'display:none'}}) }}
                            {% endfor %}
                            <span class="new-file">{{ subsubform.vars.value.getName() }}</span>
                            <a href="#" class="remove-upload">x</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <span class="action-btn btn-file orange icon-paperclip post-file-btn">
                {{ form_widget(form.file, {'attr' : {'class': 'rpe-upload single-upload show-it'}}) }}
            </span>
            {{ block('valider_widget') }}
        </div>
    </div>
{% endblock %}

{% block _blog_file_file_row %}
    <input type="file" class="input-upload" {{ block('widget_attributes') }}>
{% endblock %}

{% block valider_widget %}
    <button type="submit" class="action-btn light-blue send-link icon-paperplane post-message-btn" name="confirmer"></button>
{% endblock %}

{# BEGIN FORM THEME FOR PRODUCT #}
{% block _product_title_row %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}
{% block _product_subtitle_row %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}
{% block _product_type_row %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}
{% block _product_content_row %}
    {% set type = 'html' %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}
{% block _product_picture_row %}
    {% import 'pum://macros/macros.html.twig' as rpe_macros %}
    <li>
	    <div class="form-left">
            <label for="product_picture">Illustration</label>
        </div>
        <div class="form-right">
            <span class="action-btn btn-file orange icon-paperclip">
                <span class="fileupload">Ajouter</span>
                {{ form_row(form.file) }}
            </span>
        </div>
    </li>
{% endblock %}
{% block _product_picture_file_row %}
    <input type="file" class="rpe-upload single-upload" name="product[picture][file]" />
{% endblock %}

{% block submit_product_block %}
    <li><button type="submit" name="product_submit" class="action-btn publish-btn orange">{{ "post.publish.submit.publish"|trans({}, 'rpe') }}</button></li>
{% endblock %}
{# END FORM THEME FOR PRODUCT #}

{% block main_content %}
    {% if userHasAccess == true %}
        {% form_theme form _self %}

        <ul class="nav nav-tabs">
            <li class="tab active"><a data-toggle="tab" href="#portlet_tab1">Fil d'actualité</a></li>
            {% if isOwner == true %}
                <li class="tab"><a data-toggle="tab" href="#portlet_tab2" class="start-swiper">{{ "groupAdmin.gestion_members"|trans({}, 'rpe') }}</a></li>
                
                <li class="tab">
                    <button type="button" class="dropdown-toggle icon-cog" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="{{ path('edit_blog', {'id': blog.id}) }}">{{ "groupAdmin.change_info"|trans({}, 'rpe') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('delete_blog', {'id': blog.id}) }}" class="js-confirm-link" data-confirm="{{ 'common.action.delete.blog_confirm'|trans({}, 'rpe') }}">{{ "blogAdmin.delete_blog"|trans({}, 'rpe') }}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <!-- Fil d'activités -->
            <div id="portlet_tab1" class="tab-pane active">
                {# flux d'actualité classique, type groupe ou page profil #}
                {# {% include "pum://includes/common/componants/publications/publications.html.twig" %} #}
                {% if isOwner == true %}
                    {% include "pum://includes/common/componants/publish.html.twig" %}
                {% endif %}

                <div id="posts-content">
                    {% for post in blog.publications %}
                        {% include "pum://includes/common/componants/publications/publications.html.twig" %}
                    {% endfor %}
                </div>
            </div>

            {% if isOwner == true %}
            <div id="portlet_tab2" class="tab-pane">
                {% include 'pum://includes/common/blog/blog_administration_members.html.twig' %}
            </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert text-center">{{ 'blogPage.alert.private_blog'|trans({}, 'rpe') }}</div>
    {% endif %}

    <div class="modal fade group-desc-modal" id="blog-desc-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ blog.name }}</h4>
                </div>
                <div class="modal-body">
                    {{ blog.description }}
                </div>
                <div class="modal-footer">
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ 'groupPage.close'|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% endspaceless %}