<!--    ______            __
       / ____/___  ____  / /____  _____
      / /_  / __ \/ __ \/ __/ _ \/ ___/
     / __/ / /_/ / /_/ / /_/  __/ /
    /_/    \____/\____/\__/\___/_/
======================================= -->
<footer>
    <nav class="footer-nav">
        <ul class="footer-list">
            {% if exception is defined %}
                {% set footerLinks = [] %}
            {% else %}
                {% set footerLinks = pum_entities('area', {'identifier': 'footer-logged'}) %}
            {% endif %}
            {% for footer in footerLinks %}
                {% for page in footer.pages %}
                    {% if page.redirectUrl is not empty %}
                        <li class="footer-item"><a href="{{ page.redirectUrl }}">{{ page.title }}</a></li>
                    {% else %}
                        <li class="footer-item"><a href="{{ path('cms_page', {'seo': page.objectSlug}) }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="footer-item"><a class="" href="/page/cgu">{{ "footer.cgu"|trans({}, 'rpe') }}</a></li>
                <li class="footer-item"><a class="" href="{{ path('charte') }}">{{ "footer.charte"|trans({}, 'rpe') }}</a></li>
            {% else %}
                {# <li class="footer-item"><a class="not-available" href="#">{{ "footer.about"|trans({}, 'rpe') }}</a></li>
                <li class="footer-item"><a class="not-available" href="#">{{ "footer.partners"|trans({}, 'rpe') }}</a></li>
                <li class="footer-item"><a class="not-available" href="#">{{ "footer.legal"|trans({}, 'rpe') }}</a></li> #}
                <li class="footer-item"><a class="" href="/page/cgu">{{ "footer.cgu"|trans({}, 'rpe') }}</a></li>
                <li class="footer-item"><a class="" href="{{ path('charte') }}">{{ "footer.charte"|trans({}, 'rpe') }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</footer>
