{% extends "pum://empty_layout.html.twig" %}

{% block main_content %}
    {% spaceless %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="modal-label-report">Ressources etherpad du groupe {{ group.name }}</h4>
	</div>
	<div class="modal-body modal-ressource-body">
        <ul class="modal-ressource-list">
            {% for resource in resources %}
                {% set pad_user_count = resource.getMeta('pad_user_count') %}
                {% if pad_user_count %}
                    {% set pad_user_count = pad_user_count.value %}
                {% else %}
                    {% set pad_user_count = 0 %}
                {% endif %}
                {% spaceless %}
                    <li class="modal-ressource-wrapper">
                        <a href="{{ path('publication', {'id': resource.id}) }}">
                            <div class="modal-ressource-left">
                                {{ macros.show_post_media(resource, 'default', 92, 'ressource-image') }}
                            </div>
                            <div class="modal-ressource-right">
                                <h3 class="modal-ressource-title">{{ resource.name|truncate(50, true) }}</h3>
                                {% if pad_user_count > 0 %}
                                    <span class="modal-ressource-link">{{ '%count% <span>contributeur</span>|%count% <span>contributeurs</span>'|transchoice(pad_user_count, {'%count%': pad_user_count}, 'rpe')|raw }}</span>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endspaceless %}
            {% endfor %}
        </ul>
	</div>
	<div class="modal-footer">
		<a role="button" data-dismiss="modal" class="action-btn light-blue">Fermer</a>
	</div>
    {% endspaceless %}
{% endblock main_content %}
