{% extends "pum://page/layout_simple_col.html.twig" %}

{% set global_wrapper_class = 'bg-white' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/group-suggestions.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
{% endblock %}

{% block breadcrumb %}
	{% embed "pum://includes/common/componants/breadcrumb.html.twig" %}
		{% block this_page %}
	    	{{ "groupPage.sugrestion"|trans({}, 'rpe') }}
	    {% endblock %}
	{% endembed %}
{% endblock %}


{% block main_content %}
    <h2>SUGGESTION DE GROUPES</h2>
    <ul>
        <li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
             <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
             <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li><!--
        --><li class="content-links">
            <a href="#"><img src="{{ asset('bundles/rpepum/images/tmp/image_groupe2.jpg') }}" alt=""></a><!--
            --><div class="details">
                <a href="#" class="title">L'avenir des mathématiques en 5ème</a>
                <a href="#">81 relations en commun</a>
                <span><a href="#">122</a> membres - <a href="#">32</a> ressources</span>
            </div>
        </li>
    </ul>
{% endblock %}
