{% extends "pum://page/layout_double_col.html.twig" %}

{% set page_title = (group.name is defined) ? group.name : 'Page du groupe' %}
{% set page_name_analytics = 'group/view' %}
{% set nav_section = 'groups-menu' %}

{% set global_wrapper_class = 'bg-white' %}

{# {% set group_page_tutorial_modal = true %} #}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/group-administration.css') }}" media="all" rel="stylesheet" type="text/css" />

    <!-- ADD CHART CSS -->
    <link href="{{ asset('bundles/rpepum/css/chart.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script src="{{ asset('bundles/rpepum/js/external/jquery.cropbox.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.side-componants.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.group.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.publications.js') }}"></script>
{% endblock %}

{% block modals %}
    {% include 'pum://includes/common/componants/modals/modal-confirm.html.twig' %}
{% endblock %}

{% spaceless %}

{% block breadcrumb %}
	{% embed "pum://includes/common/componants/breadcrumb.html.twig" %}
		{% block this_page %}
            {% if group.parent is not null %}
                {{ "groupPage.page.subgroup"|trans({'%parent%': group.parent.name, '%group%': group.name}, 'rpe') }}
            {% else %}
                {{ "groupPage.page"|trans({'%group%': group.name}, 'rpe') }}
            {% endif %}
	    {% endblock %}
	{% endembed %}
{% endblock %}

{% block cover %}
	{% embed "pum://includes/common/componants/cover-layout.html.twig" %}
		{% block cover_left_image %}
            {% if userHasAccess == true and form_avatar is not null %}
                <div class="edit-profil-image">
                {{ form_errors(form_avatar) }}
                {{ form_start(form_avatar, {attr: {class: 'edit-profil-image'}}) }}
                    {{ macros.show_group_avatar(group, 'default', 120, 'profil-image crop-box', '117', '117') }}
                    <input type="file" class="profil-image-input hidden-input" name="avatar[picture][file]">
                    <a href="#" class="action-btn light-blue edit-profil-link">{{ "groupPage.changeimage"|trans({}, 'rpe') }}</a>
                    <div class="results">
                        {{ form_row(form_avatar.x, {attr: {class: 'cropX'}}) }}
                        {{ form_row(form_avatar.y, {attr: {class: 'cropY'}}) }}
                        {{ form_row(form_avatar.w, {attr: {class: 'cropW'}}) }}
                        {{ form_row(form_avatar.h, {attr: {class: 'cropH'}}) }}
                        {{ form_row(form_avatar._token) }}
                    </div>
                    <a href="#" class="action-btn orange confirm-profil-image-change">{{ "common.confirmer"|trans({}, 'rpe') }}</a>
                {{ form_end(form_avatar, {render_rest: false}) }}
                </div>
            {% else %}
                {{ macros.show_group_avatar(group, 'default', 120, 'profil-image crop-box', '117', '117') }}
            {% endif %}
			{# <img src="{{ asset('bundles/rpepum/images/tmp/img_brevet.png') }}" class="profil-image" alt=""> #}
		{% endblock %}
		{% block cover_left_information %}
            <h3 class="profil-last-name">
                {{ group.name|truncate(80, true) }}
            </h3>
		{% endblock %}
		{% block cover_left_extra_information %}
			<p class="description">
	            {# <span class="description-title">{{ "groupPage.description"|trans({}, 'rpe') }}</span> #}
	            {# {{ group.description|truncate(255, true) }} #}
	            {% if group.description|length > 200 %}
	               {{ group.description|slice(0, 200)|raw }}<a href="#" data-toggle="modal" data-target="#group-desc-modal" >... Lire la suite</a>
	            {% else %}
	               {{ group.description|raw }}
	            {% endif %}
	        </p>
		{% endblock %}
		{% block cover_left_buttons %}
		    {% if user.isInGroup(group) %}
                {% include 'pum://includes/common/componants/bookmark/buttons.html.twig' with {
                    'type': 'group',
                    'object': group,
                    'style': 'link',
                    'short': true
                } %} -
            {% endif %}
            <small class="membres icon-user">
                {{ group.members.count }}
            </small> -
            <small class="messages icon-newspaper">
                {% if group.resources.count == 0 %}
                    0
                {% else %}
                    {{ group.resources.count }}
                {% endif %}
            </small> -
            {# <small class="membres icon-user">{{ '%count% membre|%count% membres'|transchoice(group.members.count, {'%count%': group.members.count}, 'rpe') }}</small> -
            <small class="messages icon-newspaper">{{ '%count% ressource|%count% ressources'|transchoice(group.resources.count, {'%count%': group.resources.count}, 'rpe') }}</small>  #}
            <small>
            {% include 'pum://includes/common/componants/report/buttons.html.twig' with {
                'type': 'group',
                'object': group,
                'style': 'link'
            } %}
            </small>

            {% include 'pum://includes/common/componants/groups/buttons.html.twig' with {'group':group, 'userInGroup': userInGroup} %}

			{# <a class="action-btn membres orange icon-user">{{ '%count% membre|%count% membres'|transchoice(group.members.count, {'%count%': group.members.count}, 'rpe') }}</a>
			<a class="action-btn messages orange icon-newspaper">{{ '%count% ressource|%count% ressources'|transchoice(group.resources.count, {'%count%': group.resources.count}, 'rpe') }}</a> #}
		{% endblock %}

        {% block cover_right %}
            {% if form_cover is not null %}
                {{ form_errors(form_cover) }}
                {{ form_start(form_cover, {attr: {class: 'edit-profil-image cover'}}) }}
                    {{ macros.show_group_avatar(group, 'cover', 837, 'cover-image crop-box', '837', '300', '0', '0') }}
                    <input type="file" class="profil-image-input hidden-input" name="cover[originalCover][file]">
                    <a href="#" class="action-btn light-blue edit-profil-link">{{ "groupPage.changeimage"|trans({}, 'rpe') }}</a>
                    <div class="results">
                        {{ form_row(form_cover.x, {attr: {class: 'cropX'}}) }}
                        {{ form_row(form_cover.y, {attr: {class: 'cropY'}}) }}
                        {{ form_row(form_cover.w, {attr: {class: 'cropW'}}) }}
                        {{ form_row(form_cover.h, {attr: {class: 'cropH'}}) }}
                        {{ form_row(form_cover._token) }}
                    </div>
                    <a href="#" class="action-btn orange confirm-profil-image-change">{{ "common.confirmer"|trans({}, 'rpe') }}</a>
                {{ form_end(form_cover, {render_rest: false}) }}
            {% else %}
                {{ macros.show_group_avatar(group, 'cover', 837, 'cover-image crop-box', '837', '300', '0', '0') }}
            {% endif %}
        {% endblock cover_right %}
	{% endembed %}
{% endblock %}

{% block sidebar %}
    {% if userHasAccess == true %}
        {% if group.parent is not null %}
            {% include "pum://includes/common/componants/sidebar/sidebar-parentgroup.html.twig" %} <!-- Parent Group -->
        {% endif %}

        {# {% include "pum://includes/common/componants/sidebar/sidebar-author-resource.html.twig" %} #}
        {% include "pum://includes/common/componants/sidebar/sidebar-group-admins.html.twig" with {'group': group} %}
        {% include "pum://includes/common/componants/sidebar/sidebar-members.html.twig" with {'group': group } %}
        {% if userInGroup is not null and userInGroup.isValidUser %}
            {% include "pum://includes/common/componants/sidebar/sidebar-sousgroupes.html.twig" with {'canCreateSubGroup': canCreateSubGroup} %} <!-- Sub Groups -->
        {% endif %}
        {% include "pum://includes/common/componants/sidebar/sidebar-resources.html.twig" with {'resources': publications} %}
        {% include "pum://includes/common/componants/sidebar/sidebar-resource-type.html.twig" with {'instructedDisciplines': group.instructedDisciplines, 'teachingLevels': group.teachingLevels} %}
        {% include "pum://includes/common/componants/sidebar/sidebar-interests.html.twig" with {'interests': group.interests} %}

        {% for index in 1..7 %}
            {% set moduleInSlot = group.getModuleInSlot(index) %}

            {% if moduleInSlot %}
                {% if group.isModuleEnabled(moduleInSlot) %}
                    {% include "pum://includes/common/componants/sidebar/sidebar-" ~ moduleInSlot ~ ".html.twig" with {'group': group, 'resources': padResources, 'resourcesCount': padResourcesCount} %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}


{# FORM THEME #}
{% block _post_content_row %}
        <label class="hidden" for="simple-message">{{ "groupPage.form.simlemessage"|trans({}, 'rpe') }}</label>
        <span class="text-box">
            <textarea {{ block('widget_attributes') }} required data-link-ajax="{{ path('link_preview') }}" class="linkpreview simple-message-input expanding"></textarea>
        </span>
{% endblock %}

{% block _post_file_row %}
    <div class="extra-message-info">
        <div class="message-add-image">
            <ul class="uploaded-files-wrapper text-light">
                {% for subform in form %}
                    {% for subsubform in subform %}
                        <li class="uploaded-element">
                            {% for subsubsubform in subsubform %}
                                {{ form_widget(subsubsubform, {required:false, attr: {'style': 'display:none'}}) }}
                            {% endfor %}
                            <span class="new-file">{{ subsubform.vars.value.getName() }}</span>
                            <a href="#" class="remove-upload">x</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <span class="action-btn btn-file orange icon-paperclip post-file-btn">
                {{ form_widget(form.file, {'attr' : {'class': 'rpe-upload single-upload show-it'}}) }}
            </span>
            {{ block('valider_widget') }}
        </div>

       {#<div class="message-add-image file-upload">
            <ul class="uploaded-files-wrapper">
                {% for subform in form %}
                    {% for subsubform in subform %}
                        <li class="uploaded-element">
                            {% for subsubsubform in subsubform %}
                                {{ form_widget(subsubsubform, {required:false, attr: {'style': 'display:none'}}) }}
                            {% endfor %}
                            <span class="new-file">{{ subsubform.vars.value.getName() }}</span>
                            <a href="#" class="remove-upload">x</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <span class="action-btn btn-file orange icon-paperclip">
                <span class="fileupload">{{ "post.add"|trans({}, 'rpe') }}</span>
                <!-- <input type="file" id="pum_object_file_file" class="rpe-upload"> -->
                {{ form_widget(form.file, null, {'attr': {'class': 'rpe-upload'}}) }}
                <!-- <input type="file" class="rpe-upload" id="post_file_file" name="post[file][file]"> -->
            </span>
            {{ block('valider_widget') }}
        </div>#}

    </div>
{% endblock %}

{% block _post_file_file_row %}
    <input type="file" class="input-upload" {{ block('widget_attributes') }}>
{% endblock %}

{% block valider_widget %}
    <button type="submit" class="action-btn light-blue send-link icon-paperplane post-message-btn" name="confirmer"></button>
{% endblock %}

{% block main_content %}
    {% form_theme form  _self %}

    {{ macros.alertMessages() }}

    {% if userHasAccess == true %}
        {% set userIsAdmin = false %}
        {% set userIsOwner = false %}

        {% if userInGroup is defined and userInGroup is not null %}
            {% set userIsAdmin = userInGroup.isAdmin() %}
            {% set userIsOwner = userInGroup.isOwner() %}
        {% endif %}
        
        <ul class="nav nav-tabs">
            <li class="tab {{ (active_tab == 1) ? 'active' : ""}}"><a data-toggle="tab" href="#portlet_tab1">{{ "groupAdmin.activities"|trans({}, 'rpe') }}</a></li>
            
            {% if countHeadlines > 0 %}
                <li class="tab {{ (active_tab == 2) ? 'active' : ""}}"><a data-toggle="tab" href="#portlet_tab2">{{ "action.headline.title"|trans({}, 'rpe') }}</a></li>
            {% endif %}
            {% if userIsAdmin %}
                <li class="tab {{ (active_tab == 3) ? 'active' : ""}}"><a data-toggle="tab" href="#portlet_tab3" class="start-swiper">{{ "groupAdmin.gestion_members"|trans({}, 'rpe') }}</a></li>
                <li class="tab {{ (active_tab == 4) ? 'active' : ""}}"><a data-toggle="tab" href="#portlet_tab4">{{ "groupAdmin.gestion_modules"|trans({}, 'rpe') }}</a></li>

    {#                 <li class="tab"><a data-toggle="tab" href="#portlet_tab5">{{ "groupAdmin.gestion_warnings"|trans({}, 'rpe') }}</a></li>#}
                <li class="tab {{ (active_tab == 6) ? 'active' : ""}}"><a data-toggle="tab" href="#portlet_tab6">{{ "groupAdmin.stats"|trans({}, 'rpe') }}</a></li>
                <li class="tab">
                    <button type="button" class="dropdown-toggle icon-cog" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        {% if group.parent is null %}
                            <li><a href="{{ path('create_group', {'parent_group_id': group.id}) }}" class="start-swiper">&gt; {{ "groupPage.create_subgroup"|trans({}, 'rpe') }}</a></li>
                        {% endif %}
    
                        {# <li><a href="#" class="not-available">{{ "groupAdmin.send_message"|trans({}, 'rpe') }}</a></li> #}
                        {# <li><a href="#">{{ "groupAdmin.change_params"|trans({}, 'rpe') }}</a></li> #}
                        <li><a href="{{ path('edit_group', {'id': group.id}) }}">{{ "groupAdmin.change_info"|trans({}, 'rpe') }}</a></li>
                        {# <li><a href="#">{{ "groupAdmin.quit_group"|trans({}, 'rpe') }}</a></li> #}
                        {% if userIsOwner %}
                            <li class="divider"></li>
                            <li><a href="{{ path('delete_group', {'id': group.id}) }}" class="js-confirm-link" data-confirm="{{ 'common.action.delete.group_confirm'|trans({}, 'rpe') }}">{{ "groupAdmin.delete_group"|trans({}, 'rpe') }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        
        <div class="tab-content">
            <!-- Fil d'activités -->
            <div id="portlet_tab1" class="tab-pane {{ (active_tab == 1) ? 'active' : ""}}">
                {% if userInGroup is defined and userInGroup is not null %}
                    {% include "pum://includes/common/componants/publish.html.twig" %}
                {% else %}
                    <div class="alert text-center">{{ 'groupPage.alert.public_group'|trans({}, 'rpe') }}</div>
                {% endif %}

                <div id="posts-content" class="js-autoload" data-autoload="{{ path('ajax_group_publicationslist', { groupid: group.id}) }}">
                    {{ macros.loader() }}
                </div>
            </div>

            {% if countHeadlines > 0 %}
                <div id="portlet_tab2" class="tab-pane {{ (active_tab == 2) ? 'active' : ""}}">
                    <div id="posts-headline" class="js-autoload" data-autoload="{{ path('ajax_group_headlineslist', { groupid: group.id}) }}">
                        {{ macros.loader() }}
                    </div>
                </div>
            {% endif %}
            
            {% if userIsAdmin %}
                <!-- Gestion des membres -->
                <div id="portlet_tab3" class="tab-pane {{ (active_tab == 3) ? 'active' : ""}}">
                    {% include 'pum://includes/common/group/group_administration_members.html.twig' %}
                </div>

                <div id="portlet_tab4" class="tab-pane {{ (active_tab == 4) ? 'active' : ""}}">
                    {% include 'pum://includes/common/group/group_administration_modules.html.twig' %}
                </div>
                <!-- CHART -->
                <div id="portlet_tab6" class="tab-pane {{ (active_tab == 6) ? 'active' : ""}}">
                    <div class="js-autoload" data-autoload="{{ path('ajax_group_statistic', { id: group.id}) }}">
                        {{ macros.loader() }}
                    </div>
                </div>
            {% endif %}
        </div>
        {# {% include 'pum://includes/common/componants/modals/modal-users-in-group.html.twig' %} #}
    {% else %}
        {% if group.isPrivate %}
            <div class="alert text-center">{{ 'groupPage.alert.private_group'|trans({}, 'rpe') }}<br />
               {{ 'groupPage.animated.by'|trans({}, 'rpe') }} <a href="{{ path('profil', {id: hashEncode(group.getOwner.id)}) }}">{{ group.getOwner.fullname|title }}</a>
            </div>
        {% else %}
            <div class="alert text-center">{{ 'groupPage.alert.invitation_group'|trans({}, 'rpe') }}</div>
        {% endif %}
    {% endif %}
    <div class="modal fade group-desc-modal" id="group-desc-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'groupPage.descriptionTitle'|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ group.description }}
                </div>
                <div class="modal-footer">
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ 'groupPage.close'|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade new-etherpad-modal no-reload" id="new-etherpad-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "pad.new_content"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="new-etherpad-wrapper">
                        {{ form_errors(newCoContentForm) }}
                        {{ form_start(newCoContentForm, { 'action': path('co_edit') , 'attr': { 'id': 'createPostPad', 'class': 'create-editor-form' } }) }}
                            <label for="new-etherpad-title">{{ "common.titre"|trans({}, 'rpe') }}</label>
                            {{ form_widget(newCoContentForm.title, { attr: {class: 'new-etherpad-input', 'data-validation': 'required', 'data-validation-error-msg': 'Veuillez remplir ce champ.'} }) }}
                            {{ form_rest(newCoContentForm) }}
                        {{ form_end(newCoContentForm) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-close" id="cancelPadPostBtn">{{ "common.annuler"|trans({}, 'rpe') }}</a>
                    <a role="button" class="action-btn orange tutorial-modal-next" id="submitPadPostBtn">{{ "common.valider"|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ macros.modal('report') }}
    {{ macros.modal('share') }}
    {{ macros.modal('members') }}
    {{ macros.modal('resources') }}
{% endblock %}
{% endspaceless %}
{# {% block tutorial %}
    {% if group_page_tutorial_modal is defined %}
    <script>
        {% spaceless %}
            var group_page_tutorial_modal = '{{ group_page_tutorial_modal }}';
        {% endspaceless %}
    </script>
    <div class="modal fade tutorial-modal group-tutorial-modal-1" id="create-group-tutorial-modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ "groupTutorial.title1"|trans({}, 'rpe') }}</h4>
                </div>
                <div class="modal-body">
                    {{ "groupTutorial.text1"|trans({}, 'rpe') }}
                </div>
                <div class="modal-footer">
                    <a role="button" data-dismiss="modal" class="action-btn light-blue tutorial-modal-next">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %} #}
{% block body_javascript %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}