{% extends "pum://page/layout_double_col.html.twig" %}

{% set page_title = (notice.title is defined and notice.title is not empty) ? notice.title|pum_ucfirst : 'Ressource' %}
{% set page_name_analytics = 'resource/view' %}
{% set nav_section = 'profile-menu' %}

{% set global_wrapper_class = 'bg-white' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/new_ressources.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script src="{{ asset('bundles/rpepum/js/rpe.side-componants.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/external/draggable.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.publications.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.ressource.js') }}"></script>
{% endblock %}

{% block modals %}
    {% include 'pum://includes/common/componants/modals/modal-confirm.html.twig' %}
{% endblock %}

{% spaceless %}
    {% block sidebar %}
        {% if notice is not null %}
            
            {% include "pum://includes/common/componants/sidebar/sidebar-notice-description.html.twig" %}
            {#{% include "pum://includes/common/componants/sidebar/sidebar-author-resource.html.twig" %}#}
            {% if notice.url is not null %}
                {% include "pum://includes/common/componants/sidebar/sidebar-notice-resource.html.twig" %}
            {% endif %}
            {% include "pum://includes/common/componants/sidebar/sidebar-notice-type.html.twig" %}
        {% endif %}
        <!-- sources -->
    {% endblock %}

    {% block main_content %}
        {{ macros.modal('report') }}
        {{ macros.modal('share') }}

        {% if notice is not null %}
            <div class="ressource-header-wrapper clearfix">
                <h3 class="ressource-title pull-left">{{ notice.title }}</h3>
            </div>

             <!-- Here goes the user WYSIWYG code -->
            {% if notice.description is defined %}
                <div class="ressource-content">
                    {{ notice.description|raw }}
                </div>
            {% endif %}

            {% if notice.isPublishable() == true %}
                <div class="timeline-content-links">
                    {% include 'pum://includes/common/componants/likes/buttons.html.twig' with {
                        'type': 'external_notice',
                        'object': notice,
                        'style': 'link'
                    } %}

                    <a href="#js-c-notice-{{ notice.id }}" class="icon-comment" title="{{ "card_recommend_title"|trans({}, 'rpe') }}" data-target="#js-c-notice-{{ notice.id }}">{{ 'Commenter (%count%)'|transchoice(notice.comments.count, {'%count%': notice.comments.count}, 'rpe') }}</a>

                    <a href="{{ path('notice_share', {'id': notice.id}) }}" class="icon-share" data-toggle="modal" data-target="#modal-share">{{ 'ressources.share'|trans({}, 'rpe') }} (<span id="js-s-c-{{ notice.id }}">{{ notice.shareCount }}</span>)</a>
                </div>

                <!-- Menu -->
                <div class="publication-box">
                    <!--MENU -->
                    <div id="to-timeline-comments" class="timeline-comments">
                        {% for comment in notice.mainComments %}
                            {% include "pum://includes/common/componants/notices/comment.html.twig" %}
                        {% endfor %}
                        <div id="js-c-notice-{{ notice.id }}" class="timeline-post-comment js-autoload" data-autoload="{{ path('create_form_comment', {'notice':notice.id}) }}"></div>
                    </div>      
                </div>
            {% endif %}
        {% endif %}

    {% endblock %}

{% endspaceless %}
