{% extends "pum://page/layout_simple_col.html.twig" %}

{% set page_title = 'Liste des pages partenaires' %}
{% set page_name_analytics = 'editors/' ~ mode %}
{% set nav_section = 'profile-menu' %}

{# Only on group suggestion page #}
{# {% set group_suggestion_tutorial_modal = true %} #}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/groups.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script src="{{ asset('bundles/rpepum/js/rpe.boxs-loading.js') }}"></script>
    <script src="{{ asset('bundles/rpepum/js/rpe.loadmore.js') }}"></script>
{% endblock %}


{% block main_content %}
    {% set mode = mode|default('all_editors') %}

    {{ macros.alertMessages() }}

    {% embed "pum://includes/common/componants/filter.twig" %}
        {% block title %}
            <h2 class="filter-title">{{ ("editorPage."~mode)|trans({}, 'rpe') }} {# <span>({{ user.acceptedGroups.count }})</span> #}</h2>

        {% endblock %}

        {% block filter %}
            <div class="filter-right">
                <ul class="filter-right-wrapper">
                    {% for editorFilter in filters %}
                        {% if loop.first %}
                            <li class="filter-link">
                                <select class="filter-select-btn js-select-href">
                        {% endif %}
                            <option {{ (mode is not null and mode == editorFilter) ? 'selected="selected"' }} value="{{ path('editors', {'mode': editorFilter}) }}">{{ ('editors.filters.' ~ editorFilter|lower)|trans({}, 'rpe') }}</option>
                            {# <option value="value1">{{ 'groups.created_joined'|trans({}, 'rpe')}}</option>
                            <option value="value2"{{ 'groups.created'|trans({}, 'rpe')}}</option>
                            <option value="value4">{{ 'groups.joined'|trans({}, 'rpe')}}</option> #}
                        {% if loop.last %}
                                </select>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {# <li class="filter-link">
                        <select class="select-styled filtre">
                            <option value="value1">{{ 'groups.most_viewed'|trans({}, 'rpe')}}</option>
                            <option value="value2">{{ 'groups.less_viewed'|trans({}, 'rpe')}}</option>
                            <option value="value4">{{ 'groups.most_members'|trans({}, 'rpe')}}</option>
                            <option value="value5">{{ 'groups.less_members'|trans({}, 'rpe')}}</option>
                            <option value="value6">{{ 'groups.public_group'|trans({}, 'rpe')}}</option>
                            <option value="value6">{{ 'groups.private_group'|trans({}, 'rpe')}}</option>
                        </select>
                    </li> #}
                    {# <li class="filter-link">
                        <!-- web service scolom -->
                        <select class="select-styled filtre">
                            <option value="value1">Toutes les disciplines</option>
                            <option value="value2">Français</option>
                            <option value="value4">Mathématiques</option>
                            <option value="value5">Philosophie</option>
                            <option value="value6">Histoire</option>
                            <option value="value6">Géographie</option>
                            <option value="value6">Anglais</option>
                            <option value="value6">Musique</option>
                        </select>
                    </li> #}
                    {# <li class="filter-link">
                        <!-- web service scolom -->
                        <select class="select-styled filtre">
                            <option value="value1">Tous niveaux confondus</option>
                            <option value="value2">Seconde</option>
                            <option value="value4">Première</option>
                            <option value="value5">Troisième </option>
                        </select>
                    </li> #}
                    <li class="filter-link">
                        <span id="big" class="picto-big"></span>
                        <span id="small" class="picto-small opac"></span>
                    </li>
                </ul>
            </div>
        {% endblock %}
    {% endembed %}

    <ul class="list-general-box grid effect-2 js-autoload" id="grid" data-autoload="{{ path('ajax_editorlist', {'mode': mode}) }}">{% spaceless %}
        {{ macros.loader() }}
    {% endspaceless %}</ul>
{% endblock %}
