{% extends "pum://page/layout_double_col.html.twig" %}

{% if mode == 'create' %}
    {% set page_title = 'Créer une page partenaire' %}
{% else %}
    {% set page_title = 'Editer une page partenaire' %}
{% endif %}

{% set page_name_analytics = 'editor/' ~ mode|default('form') %}
{% set nav_section = 'profile-menu' %}

{% set global_wrapper_class = 'bg-white' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/create-group.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_javascript %}
    <script src="{{ asset('bundles/rpepum/js/rpe.editor.js') }}"></script>
{% endblock %}

{% spaceless %}

{% block breadcrumb %}
    {% embed "pum://includes/common/componants/breadcrumb.html.twig" %}
        {% block this_page %}
            {% if mode == 'create' %}
                Page Partenaire : {{ "createEditor.create_editor"|trans({}, 'rpe') }}
            {% else %}
                Page Partenaire : {{ "createEditor.edit"|trans({}, 'rpe') }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block sidebar %}
    {% include 'pum://includes/common/componants/tips/tip-create-editor.html.twig' %}
{% endblock %}

{# FORM #}
{% block text_row %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}

{% block _editor_description_row %}
    {% set type = 'html' %}
    {{ block('rpepum_form_text_row') }}
{% endblock %}

{% block _editor_picture_row %}
    {% import 'pum://macros/macros.html.twig' as rpe_macros %}
    <li>
        <div class="form-left">
            <label for="editor-image">{{ "createEditor.add_image"|trans({}, 'rpe') }}<br>
                <span class="small">{{ "createeEitor.image_size"|trans({}, 'rpe') }}</span></label>
        </div><!--
        --><div class="form-right">
            {% if form.vars.value.id is not defined %}
                <img src="{{ asset('bundles/rpepum/images/image_upload_groupe.jpg') }}" alt="">
            {% else %}
                {{ rpe_macros.show_image(form.vars.value, 85) }}
             {% endif %}
            <span class="btn-file dark-grey">
                <span class="button-text">{{ "editorPage.upload"|trans({}, 'rpe') }}</span>
                <span class="picto-upload"></span>
                {{ form_row(form.file) }}
            </span>
        </div>
    </li>
{% endblock %}

{% block _editor_active_row %}
    {{ block('checkbox_row') }}
{% endblock %}

{% block _editor_picture_file_row %}
    <input type="file" class="input-upload" {{ block('widget_attributes') }}>
{% endblock %}

{% block valider_widget %}
    {% if mode == 'create' %}
        <button type="submit" class="submit-relation-btn orange" id="confirmer" name="confirmer">{{ "createEditor.create_editor"|trans({}, 'rpe') }}</button>
    {% else %}
        <button type="submit" class="submit-relation-btn orange" id="confirmer" name="confirmer">{{ "createEditor.update"|trans({}, 'rpe') }}</button>
    {% endif %}
{% endblock %}


{% block main_content %}
    {% form_theme form _self %}

    <h4 class="title">
        {% if mode == 'create' %}
            {{ "createEditor.create_editor"|trans({}, 'rpe') }}
        {% else %}
            {{ "createEditor.edit_editor"|trans({}, 'rpe') ~ ' : ' ~ editor.name }}
        {% endif %}
    </h4>

    {{ form_errors(form) }}
    {{ form_start(form, {attr: { 'class': 'create-editor-form'}}) }}
        <div class="form-first">
            <ul class="form-wrapper">
                {{ form_row(form.name, {attr: {'data-validation':'required', 'data-validation-error-msg' : 'Veuillez choisir un Nom d\'editeur.'}}) }}
                {{ form_row(form.description, {attr: {'data-validation':'required', 'data-validation-error-msg' : 'Veuillez rédiger une description.'}}) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.email, {attr: {'data-validation':'required', 'data-validation-error-msg' : 'Veuillez préciser une adresse mail.'}}) }}
                {{ form_row(form.website, {attr: {'data-validation':'required', 'data-validation-error-msg' : 'Veuillez préciser votre site internet.'}}) }}
                {{ form_row(form.active) }}
            </ul>
            {{ form_row(form._token) }}
            {{ block('valider_widget') }}
        </div>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
{% endspaceless %}