{% spaceless %}
<div class="modal fade modal-first modal-users">
    <div class="modal-dialog">
        <div class="modal-content">
            <ul>
                <li>
                    <div class="user-popin-left">
                        <a href="#" class="user-image-link">
                            <img src="{{ asset('bundles/rpepum/images/tmp/avatar.jpg') }}" class="user-image">
                        </a>
                    </div>
                    <div class="user-popin-center">
                        <a href="#" class="user-popin-page last-name">Jean</a>
                        <a href="#" class="user-popin-page">Albert</a>
                    </div>
                    <div class="user-popin-right">
                        <a href="#" class="action-btn orange">{{ "groupPage.viewProfil"|trans({}, 'rpe') }}</a>
                    </div>
                </li>
                <li>
                    <div class="user-popin-left">
                        <a href="#" class="user-image-link">
                            <img src="{{ asset('bundles/rpepum/images/tmp/avatar.jpg') }}" class="user-image">
                        </a>
                    </div>
                    <div class="user-popin-center">
                        <a href="#" class="user-popin-page last-name">Jean</a>
                        <a href="#" class="user-popin-page">Albert</a>
                    </div>
                    <div class="user-popin-right">
                        <a href="#" class="action-btn orange">{{ "groupPage.viewProfil"|trans({}, 'rpe') }}</a>
                    </div>
                </li>
                <li>
                    <div class="user-popin-left">
                        <a href="#" class="user-image-link">
                            <img src="{{ asset('bundles/rpepum/images/tmp/avatar.jpg') }}" class="user-image">
                        </a>
                    </div>
                    <div class="user-popin-center">
                        <a href="#" class="user-popin-page last-name">Jean</a>
                        <a href="#" class="user-popin-page">Albert</a>
                    </div>
                    <div class="user-popin-right">
                        <a href="#" class="action-btn orange">{{ "groupPage.viewProfil"|trans({}, 'rpe') }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endspaceless %}