<div class="modal fade modal-first">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "modalTutorial.welcome"|trans({}, 'rpe') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ "modalTutorial.intro"|trans({}, 'rpe') }}
                </p>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="close">{{ "modalTutorial.skip"|trans({}, 'rpe') }}</a><!--
                --><a role="button" class="action-btn light-blue small next-modal first-link">{{ "modalTutorial.next"|trans({}, 'rpe') }}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-second">
    <div class="modal-dialog">
        <span class="icon-up-dir"></span>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "modalTutorial.first_title"|trans({}, 'rpe') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ "modalTutorial.first_text"|trans({}, 'rpe') }}
                </p>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="close">{{ "modalTutorial.skip"|trans({}, 'rpe') }}</a><!--
                --><a role="button" class="action-btn light-blue small next-modal second-link">{{ "modalTutorial.next"|trans({}, 'rpe') }}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-third">
    <div class="modal-dialog">
        <span class="icon-up-dir"></span>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "modalTutorial.second_title"|trans({}, 'rpe') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ "modalTutorial.second_text"|trans({}, 'rpe') }}
                </p>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="close">{{ "modalTutorial.skip"|trans({}, 'rpe') }}</a><!--
                --><a role="button" class="action-btn light-blue small next-modal third-link">{{ "modalTutorial.next"|trans({}, 'rpe') }}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-fourth">
    <div class="modal-dialog">
        <span class="icon-down-dir"></span>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "modalTutorial.third_title"|trans({}, 'rpe') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ "modalTutorial.third_text"|trans({}, 'rpe') }}
                </p>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="close">{{ "modalTutorial.skip"|trans({}, 'rpe') }}</a><!--
                --><a role="button" class="action-btn orange small next-modal">{{ "modalTutorial.access"|trans({}, 'rpe') }}</a>
            </div>
        </div>
    </div>
</div>