<div class="modal modal-diffusion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "modalDiffusion.build"|trans({}, 'rpe') }}</h4>
                <div class="close-submenu">{{ "modal.close"|trans({}, 'rpe') }}</div>
            </div>
            <div class="modal-body">
                
                <div class="modal-list-left">
                
                    <div class="modal-list-intro">
                        <form class="">
                            <div class="form-left">
                                <label for="name"{{ "modalDiffusion.add_title"|trans({}, 'rpe') }}</label>
                            </div>
                            <div class="form-right">
                                <input type="text" name="name" class="search" placeholder="Recherche..." />
                                <span class="tag-list-1"></span>
                            </div>
                        </form>
                    </div>
                    
                    <div class="swiper-container">
                        <div class="swiper-scrollbar"></div>
                        <div class="swiper-wrapper">
                            <ul class="swiper-slide">
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="add icon-right-dir">{{ "modalDiffusion.add"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </div>  
                
                <div class="modal-list-right">
                
                    <div class="modal-list-intro">
                        <form class="">
                            <div class="form-left">
                                <label for="list_name">{{ "modalDiffusion.name"|trans({}, 'rpe') }}</label>
                            </div>
                            <div class="form-right">
                                <input type="text" name="list_name" class="search" />
                            </div>
                        </form>
                    </div>
                    
                    <div class="swiper-container">
                        <div class="swiper-scrollbar"></div>
                        <div class="swiper-wrapper">
                            <ul class="swiper-slide">
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/rpepum/images/tmp/img-jean.png') }}" alt="">
                                    <div class="messages-list-details">
                                        <a href="#">Jean Patrick Leroux</a>
                                        <span class="fonction">Instituteur CE1</span>
                                        <div class="delete icon-cancel-squared">{{ "modalDiffusion.delete"|trans({}, 'rpe') }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="modal-footer">
                <div class="modal-footer-left">
                    <input type="submit" class="action-btn light-grey" name="cancel" value="Annuler" />
                </div>
                <div class="modal-footer-right">
                    <input type="submit" class="action-btn orange" name="send" value="Envoyer" />
                </div>
            </div>
        </div>
    </div>
</div>