<div class="modal fade modal-compatability">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3 class="compatability-title">Attention</h3>
            <p class="compatability-explanation">
                Votre navigateur n'est plus à jour, le site risque de ne pas être fonctionnel sur cette version.
            </p>
            <p class="compatability-explanation bold">
                Veuillez mettre à jour votre navigateur ou selectionnez un autre ci-dessous ( redirection sur le site de l'éditeur ) afin de vous garantir la meilleure expérience utilisateur sur le site.
            </p>
            <div class="compatability-links">
                <ul>
<!--                     <img src="{{ asset('bundles/rpepum/images/logo.png') }}" class="logo-home" style=""> -->
                    <li class="compatability-link-wrapper"><a href="https://www.google.com/intl/fr/chrome/browser/" target="_blank"><img src="{{ asset('bundles/rpepum/images/compatability-chrome.png') }}"></a></li>
                    <li class="compatability-link-wrapper"><a href="http://www.mozilla.org/fr/firefox/new/" target="_blank"><img src="{{ asset('bundles/rpepum/images/compatability-firefox.png') }}"></a></li>
                    <li class="compatability-link-wrapper"><a href="http://www.opera.com/fr" target="_blank"><img src="{{ asset('bundles/rpepum/images/compatability-opera.png') }}"></a></li>
                    <li class="compatability-link-wrapper"><a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank"><img src="{{ asset('bundles/rpepum/images/compatability-ie.png') }}"></a></li>
                </ul>
            </div>
            <a href="#" class="action-btn light-blue compatability-link">Fermer la fenêtre</a>
        </div>
    </div>
</div>